# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings (optional)
.vscode/

# Ignore macOS metadata files (optional)
.DS_Store

# Ignore environment variables files (optional)
.env
